/* header and footer -- color grey */

header, footer {
    background-color: grey;
}

/* all h1 30px size */

h1 {
    font-size: 30px;
}

/* font family Arial */

body {
    font-family: Arial, sans-serif;
    background-color: bisque;
}


.navigation {
    list-style-type: none;
    display: flex;
    justify-content: center; 
    padding: 0; 
  }
  
  #div_top_hypers {
    display: flex; 
  }
  
  #ul_top_hypers {
    display: flex; 
    padding: 0; 
    margin: 0; 
  }
  
  #ul_top_hypers li {
    list-style-type: none; 
    padding: 10px; 
  }
  
  #ul_top_hypers li a {
    text-decoration: none; 
    color: #333; 
}